.clubOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .clubOptionsContainer {
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .clubOption {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
  }
  
  .clubOption:hover {
    background-color: #e0e0e0;
  }