.licenceCard {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
}

.licenceCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.licenceListHeader {
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.licenceHeader {
  background-color: #3498db;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.licenceHeaderOld {
  background-color: #8d817f;
}

.licenceHeader h2 {
  margin: 0;
  font-size: 1.2rem;
}

.licenceHeader h3 {
  margin: 0;
  font-size: 1.2rem;
}

.licenceRole {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.licenceBody {
  padding: 20px;
}

.licenceClub {
  font-weight: bold;
  margin-bottom: 10px;
  color: #2c3e50;
}

.licenceDates {
  display: flex;
  justify-content: space-between;
  color: #7f8c8d;
  font-size: 0.9rem;
}

.licenceDates span {
  font-weight: bold;
  color: #34495e;
}

.licenceFooter {
  background-color: #f8f9fa;
  padding: 15px;
  border-top: 1px solid #e0e0e0;
}

.licenceDaysLeft {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: #2c3e50;
}

/* Mise à jour des styles existants */
.licenceList {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.licenceSection h2 {
  margin-bottom: 40px;
  margin-top: 40px;
  color: #2c3e50;
}

.addButton {
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #2ecc71;
}

.addButton svg {
  margin-left: 5px;
}

.noLicences {
  color: #7f8c8d;
  font-size: 1.2rem;
  text-align: center;
  margin-top: -50px;
}

.showOldLicences {
  margin-top: 20px;
  margin-bottom: 20px;
  background: none;
  border: none;
  color: #7f8c8d;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  display: block;
  width: 100%;
  text-align: end;
}