
.notificationWrapper {
    background-color: #006eff86;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .label {
    font-weight: bold;
  }
  
  .time {
    font-size: 0.8em;
    color: #666;
  }
  
  .notificationContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    max-height: 80vh;
    overflow-y: auto;
  }