.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 20px 100px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.userInfo {
  flex-grow: 1;
}

.userInfo h1 {
  margin: 0;
  font-size: 24px;
}

.userInfo p {
  margin: 5px 0;
  font-size: 14px;
}

.editButton, .chatbotButton, .logoutButton {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editButton {
  background-color: #f0f0f0;
  margin-left: auto;
}

.editButton:hover {
  background-color: #e0e0e0;
}

.chatbotButton, .logoutButton {
  width: 100%;
  margin-top: 20px;
  color: white;
}

.chatbotButton {
  background-color: #6200ee;
}

.logoutButton {
  background-color: #ff3b30;
}

.chatbotButton:hover {
  background-color: #5000c9;
}

.logoutButton:hover {
  background-color: #d63029;
}

.levelSection, .badgesSection, .membershipInfo {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.levelInfo {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    padding: 10px 10px 100px;
  }
}